<reason>
    <explain>
        <main>
            <%= i18n.explain %>
        </main>
        <p><%- config.reason.explain %></p>
    </explain>
    <howtodo>
        <main>
            <%= i18n.howtodo %>
        </main>
        <p><%- config.reason.howtodo %></p>
    </howtodo>
</reason>